@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700');

body{
    font-family: 'Roboto Condensed', sans-serif!important;
    font-size: 11pt;
}

h1, h2, h3, h4, h5, h6, p, span, strong, b, i, em, a{
    font-family: 'Roboto Condensed', sans-serif!important;
}

#main{
    background-color: white!important;
    background-image: none;
    border-top: 0px;
    width: 100%;
}

#header{
    background-color: #08313b;
    color: white;
    padding: 0px;
}

#sidebar{
    background-color: #170A1C;
    color: white;
    min-height: 100%!important;
}

.selfclear{
    padding-left: 30px;
    background-image: none!important;
    width: 90%;
}

#page-pane *{
     font-size: 11pt;
}    

.page-header{
    margin-left: 30px;
    background: none;
}

.pngfix{
    background-size: 70%!important;
    margin-left: 10px!important;
}

.serviceProtocol{
    background-color: #086f84;
    color: white!important;
    text-decoration: none;
}

.navigation-tab-header{
    font-size: 14pt;
    color: #0092c8;
}

#header-title{
    font-family: 'Roboto Condensed', sans-serif!important;
    font-weight: 500;
    font-size: 30pt;
}

.navigation-tab{
    border: 0px;
}

.nav-administer-service * {
    color: white!important;
    text-decoration: none!important;
}

.link-bordered{
    padding: 0px!important;  
}

.link-bordered > hr {
    display: none;
}

select{
    background-color: #ccc;
    font-family: 'Roboto Condensed', sans-serif;
}

input, textarea, button{
    font-family: 'Roboto Condensed', sans-serif!important;
}

#localeSwitcher img{
    filter: invert(1)!important;
}

.feedbackPanelERROR{
    font-size: 10pt;
    padding: 5px;
    margin-bottom: 15px;
}

#bottomFeedback{
    margin: 30px;
}
